{% extends "base.html" %}
{% block title %}Projects in Crucible{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item active" aria-current="page">Projects</li>
{% endblock %}

{% block content %}

    <h1>Projects in Crucible</h1>
    <ul>
        {% for p in projects %}
        <li>
            <a href="/{{p['project_id']}}/" style="font-family: monospace;">{{p['project_id']}}</a> {{p['title']}}
        </li>
        {% endfor %}
    </ul>


    <h2>10k Perovskite Project Views</h2>
    <ul>
        <li>
            <a href="/10k_perovskites/view/overview">Overview</a>
        </li>
        <li>
            <a href="/10k_perovskites/view/thinfilm-gallery">Thinfilm Gallery (slow!)</a>
        </li>
    </ul>
        
{% endblock %}
