{% set s = self_info %}

{% extends "base.html" %}
{% block title %}{{s['sample_name']}}{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block breadcrumb %}
        <li class="breadcrumb-item"><a href="/{{pc['project_id']}}/"><b>Project</b> {{pc['project_id']}}</a></li>
        <li class="breadcrumb-item active" aria-current="page"><b>Sample</b> {{s['sample_name']}}</li>
{% endblock %}

{% block content %}

<h1>Sample {{s['sample_name']}} <span class="mfid">{{s['unique_id'][:13]}}</h1>

<div class="container card">

    <ul>
    <li><b>Description:</b> {{s['description']}}</li>
    <li><b>Datasets:</b>
        <ul>
            {% for ds in s['datasets'] %}
            <li>
                <a href="/{{pc['project_id']}}/dataset/{{ds['unique_id']}}" class="mfid">{{ds['unique_id'][:13]}}</a>
                <b>{{ds['dataset_name']}}</b> {{datasets_by_id[ds['unique_id']]['scientific_metadata']|string|truncate(1000)}}
            </li>
            {% endfor %}
        </ul>
</ul>
</div>



<h2>Ancestors</h2>
{% for s in ancestors_info %}
    {% set name = s['sample_name'] %}
    <div class="container p-4 border rounded-3 mt-2">
    <h3>{{name}}
        <a href="/{{pc['project_id']}}/sample-graph/{{s['unique_id']}}" class="mfid">
            {{s['unique_id'][:13]}}</a>
    </h3>
    <ul>
        <li><b>Path:</b> {{" <- ".join(ancestors_path[name])}}</li>
        <li><b>Description:</b> {{s['description']}}</li>
        <li><b>Datasets:</b>
            <ul>
            {% for ds in s['datasets'] %}
                <li>
                    <a href="/{{pc['project_id']}}/dataset/{{ds['unique_id']}}" class="mfid">{{ds['unique_id'][:13]}}</a>
                    <b>{{ds['dataset_name']}}</b> {{datasets_by_id[ds['unique_id']]['scientific_metadata']|string|truncate(1000)}}
                </li>
            {% endfor %}
            </ul>
        </li>
    </ul>
    </div>
{% endfor %}


<h2>Descendants</h2>
{% if not descendants_info %}
No Descendants
{% endif %}

{% for s in descendants_info %}
{% set name = s['sample_name'] %}
<div class="container p-4 border rounded-3 mt-2">

<h3>{{name}}
    <a href="/{{pc['project_id']}}/sample-graph/{{s['unique_id']}}" class="mfid">
        {{s['unique_id'][:13]}}</a>
</h3>
<ul>
    <li><b>Path:</b> {{" -> ".join(descendants_path[name])}}</li>
    <li><b>Description:</b> {{s['description']}}</li>
    <li><b>Datasets:</b>
        <ul>
        {% for ds in s['datasets'] %}
            <li>
                <span style=" color: gray;">{{ds['unique_id']}}</span>
                <b>{{ds['dataset_name']}}</b> {{datasets_by_id[ds['unique_id']]['scientific_metadata']|string|truncate(1000)}}
            </li>
        {% endfor %}
        </ul>
    </li>
</ul>
</div>

{% endfor %}
{% endblock %}